<h1>Business</h1>

<div id="content">

<table class="feed">
  <tbody>
    <% @cards.each do |card| %>
      <tr>
      <div class="post">

        <!-- td><%= truncate(strip_tags(card.image_url), :length => 40) %></td -->
        <div class="card">
          <dl>
            <dt><%= card.poster %></dt>
            <dd><%= truncate(strip_tags(card.poster_comment), :length => 120) %></dd>
          </dl>

          <dl>
            <%= image_tag card.image_url, :size => "140x140", :crop => :fill %>
            <dt><%= link_to truncate(strip_tags(card.url), :length => 80), card.url, :target => "_blank" %></dd>
            <dt><%= truncate(strip_tags(card.title), :length => 80) %></dt>
            <dd><%= truncate(strip_tags(card.description), :length => 300) %></dd>

          </dl>


        <%= card.count_read %>
        <%= card.count_liked %>
        <dl>
          <dd>Category: <%= card.category %></dt>
        </dl>

        <%= link_to time_ago_in_words(card.updated_at) + " ago", card, :target => "_blank" %>
        <!--td><%= link_to 'Edit', edit_card_path(card) %></td-->
        <!--td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td-->

        </div>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

