<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :poster_comment %><br>
    <%= f.text_field :poster_comment %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(%w[Development Design Business Growth]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
